@using PersonelMVC.Models.EntityFramework
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/yeni">Yeni Kayıt</a>
<h2>Departman Listesi</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departman in Model)
        {
        <tr>
            <td>@departman.Id</td>
            <td>@departman.Ad</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-xs btn-default" href="guncelle/@departman.Id"> <i class="glyphicon glyphicon-edit">Güncelle</i></a>@*burası önemli id yi çekmek istediğinde böyle yapacaksın*@
                    <a class="btn btn-xs btn btn-danger" href="sil/@departman.Id"><i class="glyphicon glyphicon-remove">Sil</i></a>
                </div>
            </td>           
   
        </tr>
        }

    </tbody>
</table>
